.body{
    font-family: 'Open Sans', sans-serif;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(192, 211, 229);
    padding: 30px 100px 0px;
    margin: 0px;
}
.head-box{
    max-width: 600px;
    padding-left: 50px;
    font-weight: 700px;
    font-size: 20px;
    
}
.img{
    padding: 30px 100px 0px 40px;
    margin-left: 20px;
}
.head-title{
    font-weight: 800px;
    margin-bottom: 0px;
    
}
.head-details{
    font-weight:  400px; 
    margin-top: 10px;

}
.img{
    padding-left: 20px;
    padding-top: 20px;
}
.button{
    background-color: rgb(232, 14, 14);
    border: none;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 8px;
}

/* section styles  */

.section-one{
    
    align-items: center;
    justify-content: center;
}
.sec-about{
    
    text-align: center;
   
}
.sec-title{
    font-weight: 600px;
    margin:50px 0px 0px;
    padding-top: 20px;
}
.sec-discribe{
    margin: 0px 0px 40px;
    padding-top: 0px;
    font-weight: 400;
    
}
.flowers{
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: auto;
    
    
}
.img-one{
   
    background-color: aquamarine;
   
    text-align: center;
    align-content: center;
    height: 300px;
    width: 200px;
    border-radius: 200px 200px 0px 0px;
    padding: 100px 50px 0px;
}
.img-two{
    text-align: center;
   
    background-color: rgb(131, 127, 255);
    margin: 0px 50px;
    align-content: center;
    height: 300px;
    width: 200px;
    border-radius: 200px 200px 0px 0px;
    padding: 100px 50px 0px;
}
.img-three{
    text-align: center;
   
    background-color: rgb(3, 48, 33);
    height: 300px;
    width: 200px;
    border-radius: 200px 200px 0px 0px;
    padding: 100px 50px 0px;
}
.atribute{
    font-weight: 700px;
    color: black;
}

/*  section two styles */

.section-two{

    display: flex;
    background-color: whitesmoke;
    justify-content:center;
    
    margin: 40px 0px;
    align-items: center;
    text-align: center;
    align-content: center;

}
.sec-two-box{
    padding: 20px;
    text-align: center;
    justify-content: center;
    
}
.sec-two-title{
    font-weight: 600px;
    font-size: 50px;
    
    text-align: center;
}
.span{
    color: rgb(232, 14, 14);
}
.sec-two-dis{
    align-items: center;
    font-size: 25px;
    width: 700px;
   text-align: center ;
}

/* section three styles */

.sec-three{
    text-align: center;
    align-items: center;
}
.instagram{
    font-size: 40px;
    font-weight: 600px;
    margin: 10px 0px 5px;
}
.insta-info{
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
}
.sec-boxes{
    text-align: center;
}

/*  sec-four styles */

.container{
    text-align: center;
    position:relative ;
    margin-top: 100px;
}
.sec-text-box{
    position: absolute;
    text-align: center;
    top: 25%;
    left: 47%;
    font-size: large;
}
.email-btn{
   
    border: none;
    text-align: center;
    margin-right: 20px;
}

/*  footer styles */

.footer{
    background-color: rgb(21, 18, 18);
    margin-top: 200px;
}
.footer-container{
    text-align: center;
    padding: 50px 200px 50px;
    color: antiquewhite;
}
.footer-title{
    color: brown;
}
.shop{
    color: antiquewhite;
}

